---
title: EuRuKo 2013 Blog - Athens
description: EuRuKo 2013 - The European Ruby Conference 2013 Blog
---
<% wrap_layout :layout do %>
  <section class="container" id="article">
    <article class="blog-post" itemscope itemscope="http://schema.org/Article">
      <header>
        <h2 itemprop="headline"><%= current_page.title %></h2>
      </header>
      <div class="row-fluid">
        <section class="span8" itemprop="text">
          <div class="body">
            <%= partial 'blog/authors', locals: { authors: current_page.data.authors.split(","),
                                              article_date: current_page.date } %> 
            <%= yield %>
          </div>    
        </section>         

        <aside class="span4 recent-articles">
          <h3>Recent Articles</h3>
          <ul>
            <% blog.articles.reject{|a| a.title == current_page.title}[0...5].each do |article| %>
              <li><%= link_to article.title, article.url %></li>
            <% end %>
          </ul>
        </aside>
        <aside class="span4 blog-tags">
          <h3>Tags</h3>
          <ul>
            <% blog.tags.each do |tag, articles| %>
              <li>
                <% link_to tag_path(tag) do %>
                <%= tag %> (<%= articles.size %>)
                <% end %>
              </li>
            <% end %>
          </ul>
        </aside>
      </div>
      <hr />
      <%= partial 'blog/disqus' %>                                             
    </article>
  </section>
<% end %>
