---
title: EuRuKo 2013 Blog - Athens
description: EuRuKo 2013 - The European Ruby Conference 2013 Blog
---
<% wrap_layout :layout do %>
  <section class="container section" id="article">
    <div class="row">
      <div class="span8 offset2">
        <article class="row blog-post" itemscope itemscope="http://schema.org/Article">
          <header class="span8">
            <h2 itemprop="headline"><%= current_page.title %></h2>
          </header>
          <section class="span6 body" itemprop="text">
            <%= yield %>
          </section>
          <%= partial 'blog/authors', locals: { authors: current_page.data.authors.split(","),
                                                article_date: current_page.date } %>
        </article>
        <%= partial 'blog/disqus' %>
      </div>
    </div>
  </section>

  <aside class="hidden">
    <h2>Recent Articles</h2>
    <ol>
      <% blog.articles[0...10].each do |article| %>
        <li><%= link_to article.title, article.url %> <span><%= article.date.strftime('%b %e') %></span></li>
      <% end %>
    </ol>

    <h2>Tags</h2>
    <ol>
      <% blog.tags.each do |tag, articles| %>
      <li>
        <% link_to tag_path(tag) do %>
          <%= tag %> (<%= articles.size %>)
        <% end %>
      </li>
      <% end %>
    </ol>

    <h2>By Year</h2>
    <ol>
      <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
        <li>
        <% link_to blog_year_path(year) do %>
          <%= year %> (<%= articles.size %>)
        <% end %>
        </li>
      <% end %>
    </ol>
  </aside>
<% end %>
