---
title: EuRuKo 2013 Blog - Athens
description: EuRuKo 2013 - The European Ruby Conference 2013 Blog
---
<% wrap_layout :layout do %>
  <section class="container section" id="article">
    <div class="row">
      <div class="span8 offset2">
        <article class="row blog-post" itemscope itemscope="http://schema.org/Article">
          <header class="span8">
            <h2 itemprop="headline"><%= current_page.title %></h2>
          </header>

          <section class="body span6" itemprop="text">
            <%= yield %>
          </section>

          <%= partial 'blog/authors', locals: { authors: current_page.data.authors.split(","),
                                              article_date: current_page.date } %>
          
          <%= partial 'blog/disqus' %>

          <aside class="span2">
            <h3>Recent Articles</h3>
            <ul>
              <% blog.articles.reject{|a| a.title == current_page.title}[0...5].each do |article| %>
                <li><%= link_to article.title, article.url %></li>
              <% end %>
            </ul>

            <h3>Tags</h3>
            <ul>
              <% blog.tags.each do |tag, articles| %>
              <li>
                <% link_to tag_path(tag) do %>
                  <%= tag %> (<%= articles.size %>)
                <% end %>
              </li>
              <% end %>
            </ul>
          </aside>                                                
        </article>
      </div>
    </div>
  </section>
<% end %>
