<li id="<%= speaker.id %>" class="<%= position %>" itemscope itemprop="performer" itemtype="http://schema.org/Person">
  <h4>
    <% if speaker.additional_name %>
    <span itemprop="additionalName"><%= speaker.additional_name %></span>
    <% end %>
    <span class="name" itemprop="name"><%= speaker.name %></span>
  </h4>
  <h5>
    <%= link_to speaker.name, "/speakers/##{speaker.id}" %>
    <span class="subtitle" itemprop="jobTitle"><%= speaker.title %></span>
  </h5>
  <div class="talk-info">
    <% if speaker.keynote %>
      <span class="label label-info">keynote</span>
    <% end %>
    <% if speaker.talk && (speaker.talk.online || speaker.talk.pdf) %>
      <span class="label">
        slides:
        <% if speaker.talk.online %>
          <%= link_to 'online', speaker.talk.online, target: 'blank' %>
          <i class="icon-external-link"></i> -
        <% end %>
        <% if speaker.talk.pdf %>
          <%= link_to 'pdf', "/speakers/presentations/#{speaker.talk.pdf}" %>
          <i class="icon-file"></i>
        <% end %>
      </span>
    <% end %>
  </div>
  <p itemprop="description"><%= speaker.bio %></p>
  <div class="social">
    <% if speaker.twitter %>
      <%= twitter_button speaker.twitter %>

      <button class="btn btn-mini">
        <i class="icon-twitter"></i>
        <b>
          <%= link_to("@#{speaker.twitter}", "https://twitter.com/#{speaker.twitter}") %>
        </b>
      </button>
    <% end %>

    <% if speaker.github %>
      <button class="btn btn-mini">
        <i class="icon-github"></i>
        <b>
          <%= link_to("@#{speaker.github}", "https://github.com/#{speaker.github}") %>
        </b>
      </button>
    <% end %>
  </div>
</li>
