<% active = data.page.menu_item %>

<ul class="side-nav nav nav-pills nav-stacked">
    <li class="<%= 'active' if active == 'city-of-athens' %>"><%= link_to 'The city', '/guide/city-of-athens' %></li>
    <li class="<%= 'active' if active == 'travel-information' %>"><%= link_to 'Travel & Accommodation', '/guide/travel-information' %></li>
    <li class="<%= 'active' if active == 'transportation' %>"><%= link_to 'Transportation', '/guide/transportation' %></li>
    <li class="<%= 'active' if active == 'sightseeing' %>"><%= link_to 'Sightseeing', '/guide/sightseeing' %></li>
</ul>
