<% active = data.page.menu_item %>

<ul class="side-nav nav nav-pills nav-stacked">
    <li class="<%= 'active' if active == 'city-of-athens' %>">
        <% link_to '/guide/city-of-athens' do %>
            <i class="icon-star"></i> The city
        <% end %>
    </li>
    <li class="<%= 'active' if active == 'travel-information' %>">
        <% link_to '/guide/travel-information' do %>
            <i class="icon-plane"></i> Travel information
        <% end %>
    </li>
    <li class="<%= 'active' if active == 'accommodation' %>">
        <% link_to '/guide/accommodation' do %>
            <i class="icon-suitcase"></i> Accommodation
        <% end %>
    </li>
    <li class="<%= 'active' if active == 'transportation' %>">
        <% link_to '/guide/transportation' do %>
            <i class="icon-exchange"></i> Transportation
        <% end %>
    </li>
    <li class="<%= 'active' if active == 'sightseeing' %>">
        <% link_to '/guide/sightseeing' do %>
            <i class="icon-camera-retro"></i> Sightseeing
        <% end %>
    </li>
    <li class="<%= 'active' if active == 'side-activities' %>">
        <% link_to '/guide/side-activities' do %>
            <i class="icon-random"></i> Side Activites
        <% end %>
    </li>
    <li class="<%= 'active' if active == 'vacations' %>">
        <% link_to '/guide/vacations' do %>
            <i class="icon-asterisk"></i> Vacations
        <% end %>
    </li>
</ul>
