---
title: Last minute tips - EuRuKo 2013 - Athens
menu_item: tips
---
<section class="guide">
    <div class="container">
        <div class="row">
            <div class="span4">
                <%= partial 'guide/menu' %>
            </div>

            <div class="span8">
                <h3 class="centered">Last minute tips</h3>

                <h4>Registrations</h4>

                <ul>
                    <li>Please arrive early (doors open at 08:30) and have handy the name used to purchase your ticket and your TicketID.</li>
                    <li>Please do print (or snapshot) your ticket, including the QR code, in order to greatly speed up your registration time, so we can have more time to chit-chat together :)</li>
                </ul>

                <h4>3G and WiFi</h4>

                <ul>
                    <li>‘Pay as you go’ voice and data SIMs are going to be sold outside the venue by <%= link_to 'Vodafone', 'http://www.vodafone.gr', target: 'blank' %>, so you may decide to purchase them Friday morning.</li>
                    <li>The venue will have full blown free Wi-Fi coverage.</li>
                </ul>

                <h4>Power, more power!</h4>

                <ul>
                    <li>
                        <%= link_to 'Type C power outlets', 'http://www.trade.gov/mas/ian/ECW/gr.html', target: 'blank' %> will be provided to charge your cellphone / laptop. Bring a converter if you need one.
                    </li>
                    <li>
                        Although we know you’ll make sure your laptops are going to be fully charged (right?) we will also provide power outlets at the venue.
                    </li>
                </ul>

                <h4>Food</h4>

                <ul>
                    <li>
                        We have arranged, with a catering, a form where you can <%= link_to 'pre-order lunch from a wide menu selection', 'https://www.eventora.com/en/Events/lunch-euruko-delegates' %>.
                        Lunch ordering <strong>closes on Sunday, the 23rd of June</strong>.
                        Pre-ordering your lunch is the only option to get a cooked meal at the venue.
                        Vegetarian, halal and kosher menus are available.
                    </li>
                    <li>
                        The venue bar will provide sandwiches and other snacks at reasonable prices. We have  also made provisions for snacks which contain no seeds or nuts. However, ask at the bar to be on the safe side.
                    </li>
                    <li>
                        Free fruits for everyone on a first come first serve basis will be provided.
                    </li>
                    <li>
                        Free coffee and bottled water will also be provided.
                    </li>
                    <li>
                        In case you don’t pre-order lunch or you don’t like any of the food supplied at the venue
                        there is a cafe - restaurant at  200 meters from the venue.
                    </li>
                </ul>

                <h4>Staying connected</h4>

                <ul>
                    <li>
                        To have a complete overview of the programme, speakers, agenda and what is buzzing
                        get the official EuRuKo mobile apps for <%= link_to 'iOS', 'https://itunes.apple.com/us/app/euruko-2013/id648956739?mt=8&uo=4' %> and <%= link_to 'Android', 'https://play.google.com/store/apps/details?id=com.codigia.euruko2013' %>.
                    </li>
                    <li>
                        The conference <%= link_to 'schedule is online', '/schedule' %>.
                    </li>
                </ul>

                <h4>Outside the conference</h4>

                <ul>
                    <li>
                        If you plan to stay for more than a couple of days in Greece visit our <%= link_to 'vacations guide', '/guide/vacations' %>,
                        there is a cool offer for EuRuKo delegates.
                    </li>

                    <li>
                        If you are coming with a spouse then definitely have a look at the <%= link_to 'side activities', '/guide/side-activities' %>.
                    </li>
                </ul>

                <p class="pull-left">
                    <% link_to '/guide/vacations' do %>
                        <i class="icon-double-angle-left"></i> Vacations
                    <% end %>
                </p>
            </div>
        </div>
    </div>
</section>
