---
title: EuRuKo 2013 - Athens | Sightseeing
menu_item: sightseeing
---
<section>
    <div class="container">
        <div class="row">
            <div class="span4">
                <%= partial 'guide/menu', locals: { active: 'sightseeing'} %>
            </div>

            <div class="span8">
                <h3 class="centered">Things to see in Athens</h3>
                <p>
                    Athens offers visitors a unique combination of old and new, located on the spectacular Mediterranean coast.
                    The archaeological centre of Athens offers a pedestrian-only path that encircles Europe’s largest Archaeological Park
                    for a close-up view of some of the world’s most significant ancient treasures.
                    Details about visiting Athens can be found in the <a href="http://www.visitgreece.gr/">Greek National Tourism Organization official website</a>,
                    as well as in the <a href="http://www.breathtakingathens.com/">City of Athens official visitors’ website</a>.
                </p>

                <p>
                    Famous tourist sites in Athens, most of which are only minutes away from central subway stations, include:
                </p>
                <ul class="row image-grid">
                    <li class="span2">
                        <a href="http://whc.unesco.org/en/list/404" class="title">Acropolis</a>
                        <p class="image">
                            <%= image_tag 'guide/acropolis-athens.jpeg' %>
                            <span class="attribution"></span>
                        </p>
                    </li>

                    <li class="span2">
                        <a href="http://odysseus.culture.gr/h/3/eh351.jsp?obj_id=2485" class="title">Ancient Agora</a>
                        <p class="image">
                            <%= image_tag 'guide/4tg1q9r7sq5v1-Pt_hRVvDU8w-original.jpg' %>
                            <span class="attribution">photo by Mykola Swarnyk CC BY 3.0</span>
                        </p>
                    </li>

                    <li class="span2">
                        <a href="http://odysseus.culture.gr/h/3/eh351.jsp?obj_id=2485" class="title">Theatre of Dionysus and Herodus Atticus</a>
                        <p class="image">
                            <%= image_tag 'guide/Odeon_of_Herodes_Atticus_2010.jpg' %>
                            <span class="attribution">photo by WestportWiki CC BY-SA 3.0</span>
                        </p>
                    </li>

                    <li class="span2">
                        <a href="http://odysseus.culture.gr/h/2/eh251.jsp?obj_id=6621" class="title">Thissio</a>
                        <p class="image">
                            <%= image_tag 'guide/thission.jpg' %>
                            <span class="attribution">photo by Nikos D CC BY-SA 3.0</span>
                        </p>
                    </li>

                    <li class="span2">
                        <span class="title">Lycabettus hill</span>
                        <p class="image">
                            <%= image_tag 'guide/Athens_-_Mount_Lycabettus_-_20080729a.jpg' %>
                            <span class="attribution">photo by Barcex CC BY-SA-2.5</span>
                        </p>
                    </li>

                    <li class="span2">
                        <span class="title">Syntagma Square</span>
                        <p class="image">
                            <%= image_tag 'guide/Athens1_tango7174.jpg' %>
                            <span class="attribution">photo by Tango7174 CC BY-SA 3.0</span>
                        </p>
                    </li>

                    <li class="span2">
                        <span class="title">Archaeological Museum</span>
                        <p class="image">
                            <%= image_tag 'guide/National_Archaeological_Museum_Athens_building.jpg' %>
                            <span class="attribution">photo by Dimboukas</span>
                        </p>
                    </li>

                    <li class="span2">
                        <span class="title">Temple of Olympian Zeus</span>
                        <p class="image">
                            <%= image_tag 'guide/1308697759_0604a59578_z.jpg' %>
                            <span class="attribution">photo by Ank@ CC BY 2.0</span>
                        </p>
                    </li>

                    <li class="span2">
                        <span class="title">Phillopapou and the hill of the Pnyx</span>
                    </li>

                    <li class="span2">
                        <a href="http://odysseus.culture.gr/h/3/eh351.jsp?obj_id=2392" class="title">Keramikos</a>
                        <p class="image">
                            <%= image_tag 'guide/flickr-3175992479-original.jpg' %>
                            <span class="attribution">photo by Shadowgate CC BY 2.0</span>
                        </p>
                    </li>

                    <li class="span2">
                        <span class="title">Plaka</span>
                    </li>

                    <li class="span2">
                        <span class="title">National Gardens</span>
                    </li>

                    <li class="span2">
                        <span class="title">First Cemetery of Athens</span>
                    </li>

                    <li class="span2">
                        <span class="title">Monastiraki</span>
                    </li>
                </ul>

                <p>
                    Many clean and beautiful beaches are within easy access of the city center via tram or bus.
                </p>

                <h3 class="centered">Outside Athens</h3>

                <h4>Delphi</h4>
                <div class="row">
                    <p class="image span3">
                        <%= image_tag 'guide/delphi_temple_of_aprhodite.jpg'  %>
                        <span class="attribution">photo by JD Lafontaine CC BY-SA 2.0</span>
                    </p>

                    <p class="span5">
                        With evocative ruins surrounded by breathtaking mountain scenery, Delphi is among the most beautiful ancient sites in Greece.
                        For the ancient Greeks, Delphi was considered the center of the world, as the site was marked by the sacred Omphalos, or "navel stone."
                        Believed to be blessed by Apollo, Delphi was the holiest site in the world for the ancient Greeks.
                        The ruins of Ancient Delphi range in date from Mycenean times to the early Christian era.
                        The site can be visited as a day trip, as it is a scenic 2.5 hour drive or bus ride northwest from Athens.
                    </p>
                </div>

                <h4>Olympia</h4>
                <div class="row">
                    <p class="image span3">
                        <%= image_tag 'guide/Olympie_Temple_Zeus.jpg' %>
                        <span class="attribution">photo by Karta24 CC BY-SA 3.0</span>
                    </p>

                    <p class="span5">
                        In the western Peloponnese, in the "Valley of Gods", lies the most celebrated sanctuary of ancient Greece,
                        and the birthplace of the most important athletic mega-event of all times; the Olympic Games.
                        The site includes the remnants of an old stadium and sprinting track, as well as the ruins of the once great Temple of Zeus.
                        The Temple of Zeus once housed the great Statue of Zeus, which was one of the Seven Wonders of the Ancient World.
                        It is less than 4 hours away from Athens and only 1 hour from Patras port, or Kalamata airport.
                        There are numerous daily buses and trains that connect Athens to Olympia.
                    </p>
                </div>

                <h4>Argosaronic Islands</h4>
                <div class="row">
                    <p class="image span3">
                        <%= image_tag 'guide/hydra_miaoulis.jpg' %>
                        <span class="attribution">Public Domain</span>
                    </p>

                    <p class="span5">
                        Aegina, Agkistri, Spetses, Hydra, Poros, Salamina and the peninsula of Methana form the island complex of the Argosaronic Gulf in southern Greece.
                        Sprinkled over the Argosaronic Gulf and steeped in ancient mythology, these islands are small havens in close proximity to Athens.
                        Daily ferry connection from the port of Piraeus makes them a lovely, easily accessible all-year-round destination for the Athenians.
                        Visitors here will enjoy natural beauty, historical treasures, unique architecture, and glamorous, yet romantic atmosphere.
                    </p>
                </div>

                <h4>Sounion</h4>
                <div class="row">
                    <p class="image span3">
                        <%= image_tag 'guide/sounion_posidon_temple.jpg' %>
                        <span class="attribution">photo by Belyshev CC BY-SA 3.0</span>
                    </p>

                    <p class="span5">
                        Cape Sounion is located 69 kilometres (43 miles) southeast of Athens, at the southernmost tip of the Attica peninsula.
                        It is noted as the site of ruins of the ancient Greek temple of Poseidon, the god of the sea in classical mythology.
                        The remains are perched on the headland, surrounded on three sides by the sea.
                        The site is a popular day-excursion for tourists from Athens, with sunset over the Aegean Sea, as viewed from the ruins.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
