---
title: Vacations - EuRuKo 2013 - Athens
menu_item: vacations
---
<section class="guide">
    <div class="container">
        <div class="row">
            <div class="span4">
                <%= partial 'guide/menu' %>
            </div>

            <div class="span8">
                <h3 class="centered">Plan your vacations</h3>

                <p>
                    You are coming to Greece. It's going to be summer. It would be madness <strong>NOT</strong> to take some awesome vacations!
                </p>

                <h4>Suggestion 1: Geeks on a boat - the EuRuKo 2013 edition!</h4>

                <% link_to 'http://www.incrediblue.com/collections/euruko2013', :target => '_blank' do %>
                <span class="thumbnail">
                    <%= image_tag 'http://cdn.incrediblue.com/assets/collections/euruko2013/euruko2013-main-d811f19767884fc28eab342cd64d3a6b.jpg' %>
                </span>
                <% end %>

                <br>

                <p>
                    The incredible guys behind <a href="http://www.incrediblue.com/">Incrediblue</a> have come up with
                    a special collection of sailing boats and a special trip that will take you straight from the conference
                    and into the blue for an amazing sailing experience.
                </p>

                <p>
                    The trip starts on June 30 and you can either jump in early in the morning or stay in the boat
                    from the night before. Starting from 350 € and up to 575 € for 7 days of a totally blue experience,
                    your friends are going to be seriously jealous of you!
                </p>

                <p>Enough talking, go <a href="http://www.incrediblue.com/collections/euruko2013" target="_blank">see yourself what we are talking about!</a></p>

                <p>P.S.: Chances are that you will find some of the organizers on these boats after EuRuKo ;)</p>

                <h4>Suggestion N: Just pick an island!</h4>

                <p>
                    With some <a href="http://en.wikipedia.org/wiki/List_of_islands_of_Greece" target="_blank">hundreds of inhabited islands and then some thousand more</a>
                    we are pretty sure that you will find at least a dozen that you would potentially like to go.
                </p>

                <br>

                <ul class="row thumbnails">
                    <li class="span2">
                        <a href="http://commons.wikimedia.org/wiki/File:Oia,_Santorini_HDR_sunset.jpg" target="_blank" class="thumbnail">
                            <p class="title">Oia, Santorini</p>
                            <%= image_tag 'guide/Oia-Santorini_HDR_sunset.jpg' %>
                            <p class="attribution">photo by Pedro Szekely<br>CC BY-SA 2.0</p>
                        </a>
                    </li>

                    <li class="span2">
                        <a href="http://commons.wikimedia.org/wiki/File:Port_of_Castelorizo.jpg" target="_blank" class="thumbnail">
                            <p class="title">Kastelorizo</p>
                            <%= image_tag 'guide/Port_of_Castelorizo.jpg' %>
                            <p class="attribution">photo by Chris Vlachos<br />CC BY 3.0</p>
                        </a>
                    </li>

                    <li class="span2">
                        <a href="http://commons.wikimedia.org/wiki/File:Navagio_beach_shipwreck_in_Zakynthos.jpg" target="_blank" class="thumbnail">
                            <p class="title">Zakynthos</p>
                            <%= image_tag 'guide/Navagio_beach_shipwreck_in_Zakynthos.jpg' %>
                            <p class="attribution"></p>
                        </a>
                    </li>

                    <li class="span2">
                        <a href="http://pixabay.com/en/mykonos-greece-cyclades-sea-17156/" target="_blank" class="thumbnail">
                            <p class="title">Mykonos</p>
                            <%= image_tag 'guide/mykonos-17156_640.jpg' %>
                            <p class="attribution">CC0 1.0</p>
                        </a>
                    </li>
                </ul>

                <p>
                    Here's some additional inspiration:
                </p>

                <ul>
                    <li><a href="http://www.tripadvisor.com/TravelersChoice-Destinations-cTop-g189398" target="_blank">TripAdvisor: Top 10 Destinations in Greece</a></li>
                    <li><a href="http://www.visitgreece.gr/en/greek_islands" target="_blank">Visit Greece: Islands destination guide</a></li>
                    <li><a href="http://www.lonelyplanet.com/greece/travel-tips-and-articles/1010" target="_blank">Lonely Planet: Finding the right Greek island</a></li>
                    <li><a href="http://www.touropia.com/best-greek-islands/" target="_blank">Touropia: 10 Best Greek Islands</a></li>
                    <li><a href="http://shop.lonelyplanet.com/greece/greek-islands-travel-guide-7/" target="_blank">Lonely Planet: Greek Islands travel guide</a> <em>(non free book)</em></li>
                </ul>

                <p>
                    Ferry tickets can be booked from <a href="http://www.fantasticgreece.com/ferries/search.aspx">FantasticGreece.com</a>,
                    and for you lodging needs we suggest you to use the travel agencies already mentioned in the
                    <%= link_to 'accommodation', '/guide/accommodation' %> guide.
                </p>
                <br>

                <p class="pull-left">
                    <a href="/guide/sightseeing"><i class="icon-double-angle-left"></i> Sightseeing</a>
                </p>
            </div>
        </div>
    </div>
</section>
