---
pageable: true
per_page: 5
---

<section class="section" id="articles">
  <% page_articles.each_with_index do |article, i| %>
    <article class="post" itemscope itemscope="http://schema.org/Article">
      <header>
        <h2 itemprop="headline">
          <%= link_to article.title, article %>
          <%= link_to 'comments', article, anchor: 'disqus_thread', class: 'comment-count' %>
        </h2>
      </header>
      <section class="body" itemprop="description">
        <%= article.summary %>
      </section>
      <footer>
        <p class="date" itemprop="dateCreated" content="<%= article.date.strftime('%F') %>"><%= article.date.strftime('%b %e, %Y') %></p>

        <%= partial 'blog/authors', locals: { authors: article.data.authors.split(",").take(1) } %>
      </footer>
    </article>
  <% end %>

  <% if paginate %>
    <%= partial 'blog/pagination', locals: { page_number: page_number,
                                             num_pages: num_pages,
                                             prev_page: prev_page,
                                             next_page: next_page } %>
  <% end %>
</section>

<%= partial 'blog/disqus' %>
