---
pageable: true
per_page: 10
---
<% if paginate %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<section class="section" id="articles">
  <% page_articles.each_with_index do |article, i| %>
    <article class="post" itemscope itemscope="http://schema.org/Article">
      <header>
        <h2 itemprop="headline"><%= link_to article.title, article %></h2>
      </header>
      <section class="body" itemprop="description">
        <%= article.summary %>
      </section>
      <footer>
        <%= partial 'blog/author', locals: { author: article.data.author, date: article.date } %>
      </footer>
    </article>
  <% end %>
</section>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
