---
title: EuRuKo 2013 - Athens
description: EuRuKo 2013 - The European Ruby Conference in sunny Athens, Greece from 28 to 29 June 2013
---

<div itemscope itemtype="http://schema.org/Event">
  <div class="section" id="introduction">
    <div class="centered">
      <hgroup>
        <h1 itemprop="name">EuRuKo 2013</h1>
        <h2 itemprop="location">Athens, Greece</h2>
      </hgroup>
      <p>
        <time itemprop="startDate" content="2013-06-28">28 June 2013</time>
        <time itemprop="endDate" content="2013-06-29">29 June 2013</time>
        <span class="antikythera-mechanism">
          <span class="core"></span>
          <span class="gears-1"></span>
          <span class="gears-2"></span>
        </span>
      </p>
      <p itemprop="description">
        EuRuKo annual conference 2013 about the Ruby language will take place in Athens 28th - 29th of June.
      </p>
    </div>

    <div id="news" class="news">
      <h3>News</h3>
      <ul>
        <!-- News Placeholder list items -->
        <li>
          <span>28/03</span>
          <%= link_to 'Call for Presentations is now open!', '/blog/2013-03-28-call-for-presentations/' %>
        </li>
        <li>
          <span>30/01</span>
          <%= link_to 'Sponsorship packages online!', '#sponsors' %>
        </li>
        <li>
          <span>26/01</span>
          <%= link_to 'Tickets will be available soon', '#tickets' %>
        </li>
        <li>
          <span>24/01</span>
          <%= link_to 'Sponsorship packages will be announcened on 30/01', '#sponsors' %>
        </li>
        <li>
          <span>24/01</span>
          <%= link_to 'Website launch on 28/01', '#about' %>
        </li>
      </ul>
    </div>

  </div>

  <div class="section" id="about">
    <h3 class="centered">About
      <%= link_to_top %>
    </h3>
    <p class="intro">
      <span>EuRuKo (the European Ruby Conference) is an annual conference which focuses on the Ruby programming language, with an informal atmosphere and lots of opportunities to listen, to talk, to hack, to have fun and where delegates experience distinct and insightful content from speakers of the highest calibre.</span>
      <span>EuRuKo is being organised for the past 10 years in cities around Europe by Ruby developers for Ruby developers. It’s a truly volunteer-based event and like Ruby it is fostered by the community. Each year a different european city and its local community of Ruby enthusiasts are tasked to host the event and that’s what makes EuRuKo one of a kind.</span>
      <span>This summer EuRuKo comes to Athens for two days on the 28th and 29th of June.</span>
      <span>We can’t wait to see you in Athens this summer!</span>
    </p>
  </div>

  <div class="section" id="speakers">
    <h3 class="centered">Speakers
      <%= link_to_top %>
    </h3>
    <p class="intro">
      <span>We consider the most important aspects of EuRuKo to be the delegates engagement and the conference programme, so we are working hard to announce an excellent programme, as well as a really exciting way of selecting speakers and topics.</span>
      <%= link_to 'Submit your proposal now! ›', 'http://cfp.euruko2013.org', class: 'more' %>
    </p>
    <ul class="centered" itemscope itemprop="performer" itemtype="http://schema.org/Person">
      <li class="left" id="matz">
        <h4><span itemprop="additionalName">Matz</span><span class="name" itemprop="name">Yukihiro Matsumoto</span></h4>
        <h5>Yukihiro “Matz” Matsumoto <span class="subline" itemprop="jobTitle">Ruby chief architect</span></h5>
        <p itemprop="description">
          Yukihiro “Matz” Matsumoto is the mastermind behind the inception of Ruby. Since 1993 he has been designing our precious jewel up to its latest 2.0 version. Meanwhile he has been working on mruby, a lightweight Ruby implementation. This summer, he will be celebrating with us the 20th anniversary of Ruby.
        </p>
      </li>
      <li class="right" id="koichi">
        <h4><span class="name" itemprop="name">Koichi Sasada</span></h4>
        <h5>Koichi Sasada <span class="subline" itemprop="jobTitle">Ruby core commiter (CRuby's VM, YARV)</span></h5>
        <p itemprop="description">
          Koichi knows the inside outs of the Ruby VM. He has developed YARV (Yet another Ruby VM) which became the official Ruby VM when Ruby 1.9 was released. We believe he will give lots of insights in the Ruby VM, the new performance improments in Ruby 2.0 and will hint at the future of the Ruby VM.
        </p>
      </li>
      <li class="left" id="klabnik">
        <h4><span class="name" itemprop="name">Steve Klabnik</span></h4>
        <h5>Steve Klabnik <span class="subline" itemprop="jobTitle">Instructor & Open Source lead</span></h5>
        <p itemprop="description">
          Steve enjoys turning coffee into code, writing, philosophy, and physical activity. He is a contributor to many high visibility open source projects such as Sinatra, Resque, Rubinius and of course the venerable Ruby on Rails web framework. His talks are always insightful and inspiring. We shouldn't expect anything less for EuRuKo.
        </p>
      </li>
    </ul>
    <p class="more">other speakers will be announced soon...</p>
  </div>

  <div class="section" id="tickets">
    <h3 class="centered">Tickets
      <%= link_to_top %>
    </h3>
    <div class="centered">
      <div class="ticket"></div>
      <p>
        <%= link_to '1st batch coming soon...', 'https://www.eventora.com/en/Events/euruko-2013-athens', class: 'more' %>
        <%= mail_to 'registration@euruko2013.org', 'registration@euruko2013.org', class: 'contact' %>
      </p>
    </div>
  </div>

  <div class="section" id="venue">
    <div class="centered" itemscope itemprop="location" itemtype="http://schema.org/Place">
      <h3>Venue
        <%= link_to_top %>
      </h3>

      <h4 itemprop="address">
        <span itemprop="name">Badminton Theater</span>, Olympic Properties Goudi<br/>
        <span>P.O. Box 157 73, Athens, Greece</span>
      </h4>
      <p>
      <span itemprop="description">Surrounded by a park near the east outskirts of Athens the EuRuKo 2013 venue is a stunning theatre built for the 2004 Athens Olympic Games. Access to ‘Badminton Theatre’ is easy and its indoors as well as outdoors ambience immaculate. The acoustics are pristine and the stage is a whopping 30m x 15.5m x 18.5m space backed by amazing audio-visual tech.</span><br/>
      <%= image_tag "venue/venue_1.png", alt: "Badminton Theater - Inside", itemprop: "image" %>
      <%= image_tag "venue/venue_2.png", alt: "Badminton Theater - Inside", itemprop: "image" %>
      <%#= link_to 'more information ›', '#' %>
      </p>
    </div>
  </div>

  <div class="section" id="sponsors">
    <h3 class="centered">Sponsors
      <%= link_to_top %>
    </h3>
    <p class="centered">
      Boldly show your Ruby love - be a sponsor
      <%= link_to 'download sponsorships brochure', 'sponsors/euruko2013-sponsorship-packages.pdf', class: 'external-link brochure' %>
    </p>
  </div>

  <div class="section" id="contributors">
    <h3 class="centered">Contributors
      <%= link_to_top %>
    </h3>
    <h4>Organisers</h4>
    <ul class="centered committee">
      <li>
        <%= image_tag "committee/gfotos.png", alt: "@gfotos avatar", title: "@gfotos" %>
        <h5>Fotos Georgiadis</h5>
      </li>
      <li>
        <%= image_tag "committee/vvatikiotis.png", alt: "@o_trixlidios avatar", title: "@o_trixlidios" %>
        <h5>Vassilis Vatikiotis</h5>
      </li>
      <li>
        <%= image_tag "committee/nikosd.png", alt: "@nikosd avatar", title: "@nikosd" %>
        <h5>Nikos Dimitrakopoulos</h5>
      </li>
      <li>
        <%= image_tag "committee/apantsiop.png", alt: "@apantsiop avatar", title: "@apantsiop" %>
        <h5>Apostolos Pantsiopoulos</h5>
      </li>
      <li>
        <%= image_tag "committee/pagojo.png", alt: "@JohnPagonis avatar", title: "@JohnPagonis" %>
        <h5>Dr. John Pagonis</h5>
      </li>
      <li>
        <%= image_tag "committee/giorgostsiftsis.png", alt: "@giorgostsiftsis avatar", title: "@giorgostsiftsis" %>
        <h5>Giorgos Tsiftsis</h5>
      </li>
      <li>
        <%= image_tag "committee/diamanto.png", alt: "@nolamesa avatar", title: "@nolamesa" %>
        <h5>Nikos Diamantopoulos</h5>
      </li>
      <li>
        <%= image_tag "committee/arcandros.png", alt: "@arcandros avatar", title: "@arcandros" %>
        <h5>Vassilis Rizopoulos</h5>
      </li>
    </ul>
    <h4>Community</h4>
    <ul class="centered community">
      <li>Panos Xinos</li>
      <li>Eric Cohen</li>
      <li>Vasilis Dimos</li>
      <li>Giorgos Katsiampas</li>
      <li>Vasilis Tanos</li>
      <li>Alexia Konstantelia</li>
      <li>Christos Trochalakis</li>
      <li>Michael Zamparas</li>
      <li>Agis Anastasopoulos</li>
    </ul>
    <%= link_to 'help organize the event... contact us! ›', '#contact', class: 'more' %>
  </div>

  <div class="section" id="contact">
    <h3 class="centered">Contact
      <%= link_to_top %>
    </h3>
    <p class="centered">
      <span>Stay tuned and don’t miss out on news about EuRuKo 2013. Remember that traditionally EuRuKo tickets go in seconds so follow our progress closely and be prepared. We are sure you'll love this year’s EuRuKo.</span>
    </p>
    <p>
      <% link_to 'https://twitter.com/euruko', class: 'external-link stay-updated', target: '_blank' do %>
        stay updated by following <em>@euruko</em> on Twitter
      <% end %>
      <%= mail_to 'info@euruko2013.org', 'info@euruko2013.org', class: 'contact' %>
    </p>
    <p class="termsofuse privacypolicy">
      <%= link_to 'Terms of Use', '/termsofuse' %>
      <%= link_to 'Privacy Policy', '/privacypolicy' %>
    </p>
  </div>
</div>
