---
title: EuRuKo 2013 - Athens
description: EuRuKo 2013 - The European Ruby Conference in sunny Athens, Greece from 28 to 29 June 2013
---

<div itemscope itemtype="http://schema.org/Event">
  <div class="section" id="introduction">
    <div class="centered">
      <hgroup>
        <h1 itemprop="name">EuRuKo 2013</h1>
        <h2 itemprop="location">Athens, Greece</h2>
      </hgroup>
      <p>
        <time itemprop="startDate" content="2013-06-28">28 June 2013</time>
        <time itemprop="endDate" content="2013-06-29">29 June 2013</time>
        <span class="antikythera-mechanism">
          <span class="core"></span>
          <span class="gears-1"></span>
          <span class="gears-2"></span>
        </span>
      </p>
      <p itemprop="description">
        EuRuKo annual conference 2013 about the Ruby language will take place in Athens 28th - 29th of June.
      </p>
    </div>

    <div id="news" class="news">
      <h3>News</h3>
      <ul class="unstyled">
        <!-- News Placeholder list items -->
        <!-- <li>
          <span>10/04</span>
          <%= link_to 'Heroku is a Selene sponsor', '#selene' %>
        </li> -->
        <li>
          <span>13/04</span>
          <%= link_to 'Countdown for 2nd ticket batch started!', '/blog/2013-04-12-more-tickets-more-timezones-more-fun/' %>
        </li>
        <li>
          <span>12/04</span>
          <%= link_to '20 supporter tickets will be available', '/blog/2013-04-12-above-and-beyond/' %>
        </li>
        <li>
          <span>10/04</span>
          <%= link_to 'SoundCloud is a Selene sponsor', '#selene' %>
        </li>
        <li>
          <span>09/04</span>
          <%= link_to 'Avarteq is a Selene sponsor', '#selene' %>
        </li>
        <li>
          <span>08/04</span>
          <%= link_to '1st batch of tickets is coming!', '#tickets' %>
        </li>
        <li>
          <span>08/04</span>
          <%= link_to 'Our Gaia sponsor is Skroutz!', '#gaia' %>
        </li>
        <li>
          <span>08/04</span>
          <%= link_to 'Wooga is an Aphrodite sponsor', '#aphrodite' %>
        </li>
      </ul>
    </div>

  </div>

  <div class="section" id="about">
    <h3 class="centered">About
      <%= link_to_top %>
    </h3>
    <p class="intro">
      <span>EuRuKo (the European Ruby Conference) is an annual conference which focuses on the Ruby programming language, with an informal atmosphere and lots of opportunities to listen, to talk, to hack, to have fun and where delegates experience distinct and insightful content from speakers of the highest calibre.</span>
      <span>EuRuKo is being organised for the past 10 years in cities around Europe by Ruby developers for Ruby developers. It’s a truly volunteer-based event and like Ruby it is fostered by the community. Each year a different european city and its local community of Ruby enthusiasts are tasked to host the event and that’s what makes EuRuKo one of a kind.</span>
      <span>This summer EuRuKo comes to Athens for two days on the 28th and 29th of June.</span>
      <span>We can’t wait to see you in Athens this summer!</span>
    </p>
  </div>

  <div class="section" id="speakers">
    <h3 class="centered">Speakers
      <%= link_to_top %>
    </h3>
    <p class="intro">
      <span>We consider the most important aspects of EuRuKo to be the delegates engagement and the conference programme. This is why we have put so much effort to organize the <a href="/blog/2013-03-28-call-for-presentations/">most exciting speaker selection process to date!</a></span>
    </p>
    <ul class="centered" itemscope itemprop="performer" itemtype="http://schema.org/Person">
      <li class="left" id="matz">
        <h4><span itemprop="additionalName">Matz</span><span class="name" itemprop="name">Yukihiro Matsumoto</span></h4>
        <h5>Yukihiro “Matz” Matsumoto <span class="subtitle" itemprop="jobTitle">Ruby chief architect</span></h5>
        <p itemprop="description">
          Yukihiro “Matz” Matsumoto is the mastermind behind the inception of Ruby. Since 1993 he has been designing our precious jewel up to its latest 2.0 version. Meanwhile he has been working on mruby, a lightweight Ruby implementation. This summer, he will be celebrating with us the 20th anniversary of Ruby.
        </p>
      </li>
      <li class="right" id="koichi">
        <h4><span class="name" itemprop="name">Koichi Sasada</span></h4>
        <h5>Koichi Sasada <span class="subtitle" itemprop="jobTitle">Ruby core commiter (CRuby's VM, YARV)</span></h5>
        <p itemprop="description">
          Koichi knows the inside outs of the Ruby VM. He has developed YARV (Yet another Ruby VM) which became the official Ruby VM when Ruby 1.9 was released. We believe he will give lots of insights in the Ruby VM, the new performance improments in Ruby 2.0 and will hint at the future of the Ruby VM.
        </p>
      </li>
      <li class="left" id="klabnik">
        <h4><span class="name" itemprop="name">Steve Klabnik</span></h4>
        <h5>Steve Klabnik <span class="subtitle" itemprop="jobTitle">Instructor & Open Source lead</span></h5>
        <p itemprop="description">
          Steve enjoys turning coffee into code, writing, philosophy, and physical activity. He is a contributor to many high visibility open source projects such as Sinatra, Resque, Rubinius and of course the venerable Ruby on Rails web framework. His talks are always insightful and inspiring. We shouldn't expect anything less for EuRuKo.
        </p>
      </li>
    </ul>
    <p class="more">Wanna be part of it? <%= link_to 'Submit your proposal now! ›', 'http://cfp.euruko2013.org', class: 'more' %></p>
  </div>

  <div class="section" id="tickets">
    <h3 class="centered">Tickets
      <%= link_to_top %>
    </h3>
    <div class="centered">
      <div class="ticket"></div>
      <div class="countdown">
        <%= link_to "The ticket's price is 60 &euro;", '/blog/2013-04-12-more-tickets-more-timezones-more-fun/' %> and the 2nd batch will be available through
        <%= link_to 'Eventora', 'https://www.eventora.com/en/Events/euruko-2013-athens', :class => 'eventora-page', :target => '_blank' %> in:
        <span class="counter" data-countdown-end="1366174800000"></span>
        <span class="date">That's Wednesday, April 17th at <%= link_to '05:00 UTC', 'http://www.timeanddate.com/worldclock/fixedtime.html?msg=EuRuKo+2013+2nd+ticket+batch%21&iso=20130417T05', :target => '_blank' %>.</span>
      </div>

      <p>
        <%= mail_to 'registration@euruko2013.org', 'registration@euruko2013.org', class: 'more' %>
      </p>
    </div>
  </div>

  <div class="section" id="venue">
    <div class="centered" itemscope itemprop="location" itemtype="http://schema.org/Place">
      <h3>Venue
        <%= link_to_top %>
      </h3>

      <h4 itemprop="address">
        <span itemprop="name">Badminton Theater</span>, Olympic Properties Goudi<br/>
        <span>P.O. Box 157 73, Athens, Greece</span>
      </h4>
      <p>
      <span itemprop="description">Surrounded by a park near the east outskirts of Athens the EuRuKo 2013 venue is a stunning theatre built for the 2004 Athens Olympic Games. Access to ‘Badminton Theatre’ is easy and its indoors as well as outdoors ambience immaculate. The acoustics are pristine and the stage is a whopping 30m x 15.5m x 18.5m space backed by amazing audio-visual tech.</span><br/>
      <%= image_tag "venue/venue_1.png", alt: "Badminton Theater - Inside", itemprop: "image" %>
      <%= image_tag "venue/venue_2.png", alt: "Badminton Theater - Inside", itemprop: "image" %>
      <%#= link_to 'more information ›', '#' %>
      </p>
    </div>
  </div>

  <div class="section" id="sponsors">
    <h3 class="centered">Sponsors
      <%= link_to_top %>
    </h3>

    <div class="section">
    <p class="centered">
      This conference wouldn't be held without the support of our amazing sponsors.
      They have been with us since the beginning and showcasing them and their
      products is the least we can do for their support toward the Ruby community.

      We love them for supporting Ruby and making this conference possible.
    </p>

    <div id="gaia">
      <h2>Gaia</h2>

      <ul class="sponsors">
        <li>
          <!-- <div class="ribbon">
            <span>Gaia</span>
          </div> -->

          <% link_to 'http://www.skroutz.gr', :target => '_blank' do %>
            <img src="sponsors/skroutz_logo_400x300.png" alt="Skroutz S.A" width="400" height="300">
          <% end %>

          <h4>Skroutz S.A.</h4>
          <br>

          <p>
              Founded in 2005, Skroutz S.A. is committed to modern software development actively creating bleeding edge
              ecommerce offerings and high performance web pages. Based in Athens, Greece, it is the dominant
              digital brand which operates the leading price comparison engine in Greece.
              The company currently employs a 40+ workforce and records €2M revenues annually,
              while offering a wide range of user-oriented software solutions involving a multitude of environments
              and innovational platforms. Today <a href="http://www.skroutz.gr" target="_blank">www.skroutz.gr</a>, developed on Ruby,
              utilizes cutting-edge technology to make <a href="http://www.skroutz.gr" target="_blank">product comparison deadly simple</a>
              and serves more than 2.5 million unique users on a monthly basis.
          </p>
        </li>
      </ul>
    </div>

    <div id="helios">
      <h2>Helios</h2>

      <ul class="sponsors">
        <li>
          <div class="ribbon">
	         <span>Helios</span>
	        </div>

          <% link_to 'sponsors/euruko2013-sponsorship-packages.pdf', :class => 'brochure' do %>
            <img src="sponsors/place_holder_250x125.png" />
          <% end %>
        </li>
      </ul>
    </div>

        <div id="selene">
      <h2>Selene</h2>

      <ul class="sponsors">

        <li>
          <% link_to 'http://www.avarteq.de/', :target => '_blank' do %>
            <img src="sponsors/avarteq.200.100.png" alt="Avarteq" width="200" height="100" />
          <% end %>
        </li>

        <li>
          <% link_to 'https://soundcloud.com/', :target => '_blank' do %>
            <img src="sponsors/soundcloud.200.100.png" alt="SoundCloud" width="200" height="100" />
          <% end %>
        </li>

        <!-- <li>
          <% link_to 'http://www.heroku.com/', :target => '_blank' do %>
            <img src="sponsors/heroku.200.100.png" alt="Heroku" width="200" height="100" />
          <% end %>
        </li> -->

        <li>
          <div class="ribbon">
	        <span>Selene</span>
	      </div>

          <% link_to 'sponsors/euruko2013-sponsorship-packages.pdf', :class => 'brochure' do %>
            <img src="sponsors/place_holder_200x100.png" />
          <% end %>
        </li>
      </ul>
    </div>

    <div id="aphrodite">
      <h2>Aphrodite</h2>

      <ul class="sponsors">
        <li>
          <% link_to 'http://www.wooga.com', :target => '_blank' do %>
            <img src="sponsors/wooga.150.75.png" alt="Wooga" width="150" height="75" />
          <% end %>
        </li>

        <li>
          <div class="ribbon">
            <span>Aphrodite</span>
          </div>

          <% link_to 'sponsors/euruko2013-sponsorship-packages.pdf', :class => 'brochure' do %>
            <img src="sponsors/place_holder_150x75.png" />
          <% end %>
        </li>
      </ul>
    </div>

    <!-- <div id="additional">
      <h2>Additional Sponsors</h2>

      <ul class="sponsors">
        <li>
          <div class="ribbon party">
	    <span>Party</span>
	  </div>

          <img src="sponsors/place_holder_200x100.png" />
        </li>

        <li>
          <div class="ribbon wifi">
	    <span>WiFi</span>
	  </div>

          <img src="sponsors/place_holder_200x100.png" />
        </li>

        <li>
          <div class="ribbon network">
	    <span>Network</span>
	  </div>

          <img src="sponsors/place_holder_200x100.png" />
        </li>
      </ul>
    </div> -->

    <p class="centered">
      <%= link_to 'Interested in becoming a sponsor?', 'sponsors/euruko2013-sponsorship-packages.pdf', class: 'external-link brochure' %>
    </p>
  </div>
  </div>

  <div class="section" id="contributors">
    <h3 class="centered">Contributors
      <%= link_to_top %>
    </h3>
    <h4>Organisers</h4>
    <ul class="centered committee">
      <li>
        <%= image_tag "committee/gfotos.png", alt: "@gfotos avatar", title: "@gfotos" %>
        <h5>Fotos Georgiadis</h5>
      </li>
      <li>
        <%= image_tag "committee/vvatikiotis.png", alt: "@o_trixlidios avatar", title: "@o_trixlidios" %>
        <h5>Vassilis Vatikiotis</h5>
      </li>
      <li>
        <%= image_tag "committee/nikosd.png", alt: "@nikosd avatar", title: "@nikosd" %>
        <h5>Nikos Dimitrakopoulos</h5>
      </li>
      <li>
        <%= image_tag "committee/apantsiop.png", alt: "@apantsiop avatar", title: "@apantsiop" %>
        <h5>Apostolos Pantsiopoulos</h5>
      </li>
      <li>
        <%= image_tag "committee/pagojo.png", alt: "@JohnPagonis avatar", title: "@JohnPagonis" %>
        <h5>Dr. John Pagonis</h5>
      </li>
      <li>
        <%= image_tag "committee/giorgostsiftsis.png", alt: "@giorgostsiftsis avatar", title: "@giorgostsiftsis" %>
        <h5>Giorgos Tsiftsis</h5>
      </li>
      <li>
        <%= image_tag "committee/nolamesa.png", alt: "@nolamesa avatar", title: "@nolamesa" %>
        <h5>Nikos Diamantopoulos</h5>
      </li>
      <li>
        <%= image_tag "committee/arcandros.png", alt: "@arcandros avatar", title: "@arcandros" %>
        <h5>Vassilis Rizopoulos</h5>
      </li>
    </ul>
    <h4>Community</h4>
    <ul class="centered community">
      <li>Panos Xinos</li>
      <li>Eric Cohen</li>
      <li>Vasilis Dimos</li>
      <li>Giorgos Katsiampas</li>
      <li>Vasilis Tanos</li>
      <li>Alexia Konstantelia</li>
      <li>Christos Trochalakis</li>
      <li>Michael Zamparas</li>
      <li>Agis Anastasopoulos</li>
    </ul>
    <%= link_to 'help organize the event... contact us! ›', '#contact', class: 'more' %>
  </div>

  <div class="section" id="contact">
    <h3 class="centered">Contact
      <%= link_to_top %>
    </h3>
    <p class="centered">
      <span>Stay tuned and don’t miss out on news about EuRuKo 2013. Remember that traditionally EuRuKo tickets go in seconds so follow our progress closely and be prepared. We are sure you'll love this year’s EuRuKo.</span>
    </p>
    <p>
      <% link_to 'https://twitter.com/euruko', class: 'external-link stay-updated', target: '_blank' do %>
        Follow us on Twitter
      <% end %>

      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
          <form action="http://euruko2013.us5.list-manage.com/subscribe/post?u=d1a6bd50eb7d9b61b9101b5eb&amp;id=c70313aaa0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <label for="mce-EMAIL">Subscribe to our mailing list</label>
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </form>
      </div>
      <!--End mc_embed_signup-->

      <%= mail_to 'info@euruko2013.org', 'info@euruko2013.org', class: 'contact' %>
    </p>
    <p class="termsofuse privacypolicy">
      <%= link_to 'Code of Conduct', '/codeofconduct' %>
      <%= link_to 'Terms of Use', '/termsofuse' %>
      <%= link_to 'Privacy Policy', '/privacypolicy' %>
    </p>
  </div>
</div>
