---
title: EuRuKo 2013 - Athens
description: EuRuKo 2013 - The European Ruby Conference in sunny Athens, Greece from 28 to 29 June 2013
---

<div itemscope itemtype="http://schema.org/Event">
  <div class="section" id="introduction">
    <div class="centered">
      <hgroup>
        <h1 itemprop="name">EuRuKo 2013</h1>
        <h2 itemprop="location">Athens, Greece</h2>
      </hgroup>
      <p>
        <time itemprop="startDate" content="2013-06-28">28 June 2013</time>
        <time itemprop="endDate" content="2013-06-29">29 June 2013</time>
        <span class="antikythera-mechanism">
          <span class="core"></span>
          <span class="gears-1"></span>
          <span class="gears-2"></span>
        </span>
      </p>
      <p itemprop="description" class="centered">
        EuRuKo annual conference 2013 about the Ruby language will take place in Athens 28th - 29th of June.
      </p>
      <p class="centered">
        <%= link_to 'GET YOUR TICKET NOW!', 'https://www.eventora.com/en/Events/euruko-2013-athens', class: 'external-link eventora-page active', target: '_blank' %>
      </p>
    </div>

    <div id="news" class="news">
      <h3><i class="icon-bullhorn"></i>&nbsp;&nbsp;&nbsp;News</h3>
      <ul class="unstyled">
        <!-- News Placeholder list items -->
        <li>
          <span>12/05</span>
          <% link_to '#tickets' do %>
            <i class="icon-exclamation-sign"></i> Tickets sales end tomorrow!
          <% end %>
        </li>
        <li>
          <span>11/05</span>
          <% link_to '/guide' do %>
            EuRuKo 2013 city & travel guide is now available
          <% end %>
        </li>
        <li>
          <span>07/05</span>
          <%= link_to 'Final speaker lineup announced!', '/speakers' %>
        </li>
         <li>
          <span>29/04</span>
          <%= link_to 'Vote for the final speaker lineup!', 'http://cfp.euruko2013.org/proposals' %>
        </li>
        <li>
          <span>24/04</span>
          <%= link_to 'Workable shines as a Helios sponsor', '#helios' %>
        </li>
        <li>
          <span>23/04</span>
          <%= link_to 'Xing is a Selene sponsor', '#selene' %>
        </li>
        <li>
          <span>22/04</span>
          <%= link_to 'Heroku is a Selene sponsor', '#selene' %>
        </li>
        <li>
          <span>22/04</span>
          <%= link_to 'DNSimple is a Selene sponsor', '#selene' %>
        </li>
      </ul>
    </div>

  </div>

  <div class="section" id="about">
    <h3 class="centered">About
      <%= link_to_top %>
    </h3>
    <p class="intro">
      <span>EuRuKo (the European Ruby Conference) is an annual conference which focuses on the Ruby programming language, with an informal atmosphere and lots of opportunities to listen, to talk, to hack, to have fun and where delegates experience distinct and insightful content from speakers of the highest calibre.</span>
      <span>EuRuKo is being organised for the past 10 years in cities around Europe by Ruby developers for Ruby developers. It’s a truly volunteer-based event and like Ruby it is fostered by the community. Each year a different european city and its local community of Ruby enthusiasts are tasked to host the event and that’s what makes EuRuKo one of a kind.</span>
      <span>This summer EuRuKo comes to Athens for two days on the 28th and 29th of June.</span>
      <span>We can’t wait to see you in Athens this summer!</span>
    </p>
  </div>

  <div class="section" id="speakers">
    <h3 class="centered">Amazing Speakers
      <%= link_to_top %>
    </h3>
    <p class="intro">
      <span>EuRuKo 2013 has an amazing speaker line up chosen by the community throught the open for all <%= link_to 'CfP', 'http://cfp.euruko2013.org/proposals' %>.</span>
    </p>
    <ul class="centered">
      <% data.speakers.each_with_index do |speaker, i| %>
        <% next unless speaker.keynote %>
        <%= partial 'speakers/speaker', locals: { speaker: speaker, position: (i.even? ? "left" : "right") } %>
      <% end %>
    </ul>
    <p class="more"><%= link_to 'View the complete speaker lineup ›', '/speakers', class: 'more' %></p>
  </div>

  <div class="section" id="tickets">
    <h3 class="centered">Tickets
      <%= link_to_top %>
    </h3>
    <div class="centered">
      <div class="ticket"></div>
      <div class="countdown">
        <%= link_to "The ticket's price is 60 &euro;", '/blog/2013-04-12-more-tickets-more-timezones-more-fun/' %> and the 3rd batch will be available through
        <%= link_to 'Eventora', 'https://www.eventora.com/en/Events/euruko-2013-athens', :class => 'eventora-page', :target => '_blank' %>.
        <p>The 3rd and last ticket batch is available until <strong>Monday, May 13th!</strong></p>
        <p class="centered">
          <%= link_to 'GET YOUR TICKET NOW!', 'https://www.eventora.com/en/Events/euruko-2013-athens', class: 'external-link eventora-page active', target: '_blank' %>
        </p>
      </div>

      <p>
        Need an invoice for your ticket? It's really easy to <%= link_to 'request an invoice', '/invoices' %>!
      </p>

      <p>
        Having an issue with your ticket? Email us at <%= mail_to 'registration@euruko2013.org', 'registration@euruko2013.org' %>
      </p>
    </div>
  </div>

  <div class="section" id="venue">
    <div class="centered" itemscope itemprop="location" itemtype="http://schema.org/Place">
      <h3>Venue
        <%= link_to_top %>
      </h3>

      <h4 itemprop="address">
        <span itemprop="name">Badminton Theater</span>, Olympic Properties Goudi<br/>
        <span>P.O. Box 157 73, Athens, Greece</span>
      </h4>
      <p>
      <span itemprop="description">Surrounded by a park near the east outskirts of Athens the EuRuKo 2013 venue is a stunning theatre built for the 2004 Athens Olympic Games. Access to ‘Badminton Theatre’ is easy and its indoors as well as outdoors ambience immaculate. The acoustics are pristine and the stage is a whopping 30m x 15.5m x 18.5m space backed by amazing audio-visual tech.</span><br/>
      <%= image_tag "venue/venue_1.png", alt: "Badminton Theater - Inside", itemprop: "image" %>
      <%= image_tag "venue/venue_2.png", alt: "Badminton Theater - Inside", itemprop: "image" %>
      <%#= link_to 'more information ›', '#' %>
      </p>
    </div>
  </div>

  <div class="section" id="sponsors">
    <h3 class="centered">Sponsors
      <%= link_to_top %>
    </h3>

    <div class="section">
    <p class="centered">
      This conference wouldn't be held without the support of our amazing sponsors.
      They have been with us since the beginning and showcasing them and their
      products is the least we can do for their support toward the Ruby community.

      We love them for supporting Ruby and making this conference possible.
    </p>

    <div id="gaia">
      <h2>Gaia</h2>

      <ul class="sponsors">
        <li>
          <% link_to 'http://www.skroutz.gr?utm_source=euruko&utm_medium=banner&utm_campaign=gaia', target: "_blank" do %>
            <%= image_tag "sponsors/skroutz_400x300.png", alt: "Skroutz S.A. Logo", title: "Skroutz S.A.", itemprop: "image", width: "400", height: "300" %>
          <% end %>

          <h4 id="skroutz">Skroutz S.A.</h4>

          <br />

          <p>
              Founded in 2005, Skroutz S.A. is committed to modern software development actively creating bleeding edge
              ecommerce offerings and high performance web pages. Based in Athens, Greece, it is the dominant
              digital brand which operates the leading price comparison engine in Greece.
              The company currently employs a 40+ workforce and records €2M revenues annually,
              while offering a wide range of user-oriented software solutions involving a multitude of environments
              and innovational platforms. Today <%= link_to "www.skroutz.gr", "http://www.skroutz.gr?utm_source=euruko&utm_medium=description&utm_campaign=gaia", target: "_blank" %>, developed on Ruby,
              utilizes cutting-edge technology to make <%= link_to "product comparison deadly simple", "http://www.skroutz.gr?utm_source=euruko&utm_medium=description&utm_campaign=gaia", target: "_blank" %>
              and serves more than 2.5 million unique users on a monthly basis.
          </p>
        </li>
      </ul>
    </div>

    <div id="helios">
      <h2>Helios</h2>

      <ul class="sponsors">
        <li id="persado">
          <% link_to 'http://www.persado.com?utm_source=euruko&utm_medium=banner&utm_campaign=helios', :target => '_blank' do %>
            <%= image_tag "sponsors/persado_250x125.png", alt: "Persado Logo", title: "Persado", itemprop: "image", width: "250", height: "150" %>
          <% end %>

          <p>
            <%= link_to 'Persado', 'http://www.persado.com?utm_source=euruko&utm_medium=description&utm_campaign=helios', target: "_blank" %>,
            a spinoff of digital marketing firm Upstream, uses semantical &amp;
            statistical algorithms to help its customers generate the digital
            marketing messages that work best, resulting in an average of 30%
            to 150% improvement in performance.
          </p>
        </li>

        <li id="engineyard">
          <% link_to 'http://www.engineyard.com/?utm_source=euruko&utm_medium=banner&utm_campaign=helios', :target => '_blank' do %>
            <%= image_tag "sponsors/engineyard_250x125.png", alt: "Engine Yard Logo", title: "Engine Yard", itemprop: "image", width: "250", height: "150" %>
          <% end %>

          <p>
            <%= link_to 'Engine Yard Cloud', 'http://www.engineyard.com/?utm_source=euruko&utm_medium=description&utm_campaign=helios', target: "_blank" %>
            is the leading PaaS for a wide range of RoR, PHP and Node.js applications. It runs small-scale web applications that require a single compute instance to large-scale enterprise applications that require reliability, elasticity and performance.
          </p>
        </li>

        <li id="workable">
          <% link_to 'http://www.workablehr.com?utm_source=euruko&utm_medium=banner&utm_campaign=helios', :target => '_blank' do %>
            <%= image_tag "sponsors/workable_250x125.png", alt: "Workable Logo", title: "Workable", itemprop: "image", width: "250", height: "150" %>
          <% end %>

          <p>
            <%= link_to 'Workable', 'http://www.workablehr.com?utm_source=euruko&utm_medium=description&utm_campaign=helios', target: "_blank" %>
            is a popular recruitment and applicant tracking Software as a Service
            (SaaS) built with Rails. Founded in 2012, the company has raised
            $950K in seed funding and employs 9 people in Athens.
          </p>
        </li>

        <li>
          <div class="ribbon">
            <span>Helios</span>
          </div>

          <% link_to 'sponsors/euruko2013-sponsorship-packages.pdf', :class => 'brochure' do %>
            <%= image_tag "sponsors/place_holder_250x125.png", alt: "Helios sponsor logo", title: "Your logo here!", itemprop: "image", width: "250", height: "125" %>
          <% end %>
        </li>
      </ul>
    </div>

    <div id="selene">
      <h2>Selene</h2>

      <ul class="sponsors">
        <li id="anynines">
          <% link_to 'http://www.anynines.com?utm_source=euruko&utm_medium=banner&utm_campaign=selene', :target => '_blank' do %>
            <%= image_tag "sponsors/anynines_200x100.png", alt: "Anynines Logo", title: "Anynines", itemprop: "image", width: "200", height: "100" %>
          <% end %>
        </li>

        <li id="soundcloud">
          <% link_to 'https://soundcloud.com?utm_source=euruko&utm_medium=banner&utm_campaign=selene', :target => '_blank' do %>
            <%= image_tag "sponsors/soundcloud_200x100.png", alt: "SoundCloud Logo", title: "SouldCloud", itemprop: "image", width: "200", height: "100" %>
          <% end %>
        </li>

        <li id="pamediakopes">
          <% link_to 'http://www.pamediakopes.gr?utm_source=euruko&utm_medium=banner&utm_campaign=selene', :target => '_blank' do %>
            <%= image_tag "sponsors/pamediakopes_200x100.png", alt: "Pamediakopes.gr Logo", title: "Pamediakopes.gr", itemprop: "image", width: "200", height: "100" %>
          <% end %>
        </li>

        <li id="dnsimple">
          <% link_to 'http://dnsimple.com?utm_source=euruko&utm_medium=banner&utm_campaign=selene', :target => '_blank' do %>
            <%= image_tag "sponsors/dnsimple_200x100.png", alt: "DNSimple Logo", title: "DNSimple", itemprop: "image", width: "200", height: "100" %>
          <% end %>
        </li>

        <li id="heroku">
          <% link_to 'http://www.heroku.com?utm_source=euruko&utm_medium=banner&utm_campaign=selene', :target => '_blank' do %>
            <%= image_tag "sponsors/heroku_200x100.png", alt: "Heroku Logo", title: "Heroku", itemprop: "image", width: "200", height: "100" %>
          <% end %>
        </li>

        <li id="xing">
          <% link_to 'http://www.xing.com?utm_source=euruko&utm_medium=banner&utm_campaign=selene', :target => '_blank' do %>
            <%= image_tag "sponsors/xing_200x100.png", alt: "Xing Logo", title: "Xing", itemprop: "image", width: "200", height: "100" %>
          <% end %>
        </li>

        <li>
          <div class="ribbon">
            <span>Selene</span>
          </div>

          <% link_to 'sponsors/euruko2013-sponsorship-packages.pdf', :class => 'brochure' do %>
            <%= image_tag "sponsors/place_holder_200x100.png", alt: "Selene sponsor Logo", title: "Your logo here!", itemprop: "image", width: "200", height: "100" %>
          <% end %>
        </li>
      </ul>
    </div>

    <div id="aphrodite">
      <h2>Aphrodite</h2>

      <ul class="sponsors">
        <li id="wooga">
          <% link_to 'http://www.wooga.com?utm_source=euruko&utm_medium=banner&utm_campaign=aphrodite', :target => '_blank' do %>
            <%= image_tag "sponsors/wooga_150x75.png", alt: "Wooga sponsor Logo", title: "Wooga", itemprop: "image", width: "150", height: "75" %>
          <% end %>
        </li>
        <li id="metaquark">
          <% link_to 'http://metaquark.de?utm_source=euruko&utm_medium=banner&utm_campaign=aphrodite', :target => '_blank' do %>
            <%= image_tag "sponsors/metaquark_150x75.png", alt: "Metaquark sponsor Logo", title: "Metaquark", itemprop: "image", width: "150", height: "75" %>
          <% end %>
        </li>

        <li>
          <div class="ribbon">
            <span>Aphrodite</span>
          </div>

          <% link_to 'sponsors/euruko2013-sponsorship-packages.pdf', :class => 'brochure' do %>
            <%= image_tag "sponsors/place_holder_150x75.png", alt: "Aphrodite sponsor Logo", title: "Your logo here!", itemprop: "image", width: "150", height: "75" %>
          <% end %>
        </li>
      </ul>
    </div>

    <!-- <div id="additional">
      <h2>Additional Sponsors</h2>

      <ul class="sponsors">
        <li>
          <div class="ribbon party">
            <span>Party</span>
          </div>

          <img src="sponsors/place_holder_200x100.png" />
        </li>

        <li>
          <div class="ribbon wifi">
            <span>WiFi</span>
          </div>

          <img src="sponsors/place_holder_200x100.png" />
        </li>

        <li>
          <div class="ribbon network">
            <span>Network</span>
          </div>

          <img src="sponsors/place_holder_200x100.png" />
        </li>
      </ul>
    </div> -->

    <p class="centered">
      <%= link_to 'Interested in becoming a sponsor?', 'sponsors/euruko2013-sponsorship-packages.pdf', class: 'external-link brochure' %>
    </p>
  </div>
  </div>

  <div class="section" id="contributors">
    <h3 class="centered">Contributors
      <%= link_to_top %>
    </h3>

    <h4 id="organisers">Organisers</h4>
    <ul class="centered committee">
      <li>
        <%= image_tag "committee/gfotos.png", alt: "@gfotos avatar", title: "@gfotos" %>
        <h5>Fotos Georgiadis</h5>
      </li>
      <li>
        <%= image_tag "committee/vvatikiotis.png", alt: "@o_trixlidios avatar", title: "@o_trixlidios" %>
        <h5>Vassilis Vatikiotis</h5>
      </li>
      <li>
        <%= image_tag "committee/nikosd.png", alt: "@nikosd avatar", title: "@nikosd" %>
        <h5>Nikos Dimitrakopoulos</h5>
      </li>
      <li>
        <%= image_tag "committee/apantsiop.png", alt: "@apantsiop avatar", title: "@apantsiop" %>
        <h5>Apostolos Pantsiopoulos</h5>
      </li>
      <li>
        <%= image_tag "committee/pagojo.png", alt: "@JohnPagonis avatar", title: "@JohnPagonis" %>
        <h5>Dr. John Pagonis</h5>
      </li>
      <li>
        <%= image_tag "committee/giorgostsiftsis.png", alt: "@giorgostsiftsis avatar", title: "@giorgostsiftsis" %>
        <h5>Giorgos Tsiftsis</h5>
      </li>
      <li>
        <%= image_tag "committee/nolamesa.png", alt: "@nolamesa avatar", title: "@nolamesa" %>
        <h5>Nikos Diamantopoulos</h5>
      </li>
      <li>
        <%= image_tag "committee/arcandros.png", alt: "@arcandros avatar", title: "@arcandros" %>
        <h5>Vassilis Rizopoulos</h5>
      </li>
    </ul>

    <h4 id="community">Community</h4>
    <ul class="centered community">
      <li>Agis Anastasopoulos</li>
      <li>Alexia Konstantelia</li>
      <li>Angel Avgerinos</li>
      <li>Antonela Bare</li>
      <li>Christos Trochalakis</li>
      <li>Dimitrios Spanos</li>
      <li>Dimitris Zorbas</li>
      <li>Dora Belegrinou</li>
      <li>Eleni Hourouzidou</li>
      <li>Eric Cohen</li>
      <li>George Batistatos</li>
      <li>George Paloukis</li>
      <li>Giorgos Katsiampas</li>
      <li>Ioannis Gakos</li>
      <li>Javier Gonel</li>
      <li>Martha Chumo</li>
      <li>Michael Zamparas</li>
      <li>Nick Maroulis</li>
      <li>Nikoletta Kanellou</li>
      <li>Nikos Gereoudakis</li>
      <li>Panos Xinos</li>
      <li>Vasilis Dimos</li>
      <li>Vasilis Tanos</li>
      <li>Yiannis Deliyiannis</li>
      <li>Yiota Kontzopoulou</li>
    </ul>

    <h4 id="supporters">Supporters</h4>
    <ul class="centered community">
      <li><%= link_to 'Stephan Kämper', 'https://twitter.com/S_2K', :target => '_blank' %></li>
    </ul>

    <%= link_to 'help organize the event&hellip; contact us! ›', '#contact', class: 'more' %>
  </div>

  <div class="section" id="contact">
    <h3 class="centered">Contact
      <%= link_to_top %>
    </h3>
    <p class="centered">
      <span>Stay tuned and don’t miss out on news about EuRuKo 2013. Remember that traditionally EuRuKo tickets go in seconds so follow our progress closely and be prepared. We are sure you'll love this year’s EuRuKo.</span>
    </p>
    <p>
      <% link_to 'https://twitter.com/euruko', class: 'external-link stay-updated', target: '_blank' do %>
        Follow us on Twitter
      <% end %>

      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
          <form action="http://euruko2013.us5.list-manage.com/subscribe/post?u=d1a6bd50eb7d9b61b9101b5eb&amp;id=c70313aaa0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <label for="mce-EMAIL">Subscribe to our mailing list</label>
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </form>
      </div>
      <!--End mc_embed_signup-->

      <%= mail_to 'info@euruko2013.org', 'info@euruko2013.org', class: 'contact' %>
    </p>
    <p class="termsofuse privacypolicy">
      <%= link_to 'Code of Conduct', '/codeofconduct' %>
      <%= link_to 'Terms of Use', '/termsofuse' %>
      <%= link_to 'Privacy Policy', '/privacypolicy' %>
    </p>
  </div>
</div>
