---
title: Euruko 2013 - Athens
description: Euruko 2013 - The European Ruby Conference in sunny Athens, Greece from 28 to 29 June 2013
---

<div itemscope itemtype="http://schema.org/Event">
  <div class="section" id="introduction">
    <div class="centered">
      <hgroup>
        <h1 itemprop="name">Euruko 2013</h1>
        <h2 itemprop="location">Athens, Greece</h2>
      </hgroup>
      <p>
        <time itemprop="startDate" content="2013-06-28">28 June 2013</time>
        <time itemprop="endDate" content="2013-06-29">29 June 2013</time>
        <span class="antikythera-mechanism">
          <span class="core"></span>
          <span class="gears-1"></span>
          <span class="gears-2"></span>
        </span>
      </p>
      <p itemprop="description">
        EuRuKo annual conference 2013 about the Ruby language will take place in Athens 28th - 29th of June.
      </p>
    </div>

    <div id="news" class="news">
      <h3>News</h3>
      <ul>
        <!-- News Placeholder list items -->
       <li>
          <span>26/01/2013</span>
          <%= link_to 'Tickets will be available soon', '#tickets' %>
        </li>
        <li>
          <span>24/01/2013</span>
          <%= link_to 'Sponsorship packages will be announcened on 30/01/2013', '#sponsors' %>
        </li>
         <li>
          <span>24/01/2013</span>
          <%= link_to 'Website launch on 28/01/20013', '#about' %>
        </li>
        <li>
          <span>09/12/2012</span>
          <%= link_to 'New speaker confirmed', '#speakers' %>
        </li>
      </ul>
    </div>

  </div>

  <div class="section" id="about">
    <h3 class="centered">About
      <%= link_to 'to the top ^', '#', class: 'back_top' %>
    </h3>
    <p class="intro">
      <span>EuRuKo (the European Ruby Conference) is an annual conference which focuses on the Ruby programming language, with an informal atmosphere and lots of opportunities to listen, to talk, to hack, to have fun and where delegates experience distinct and insightful content from speakers of the highest calibre.</span>
      <span>EuRuKo is being organised for the past 10 years in cities around Europe by Ruby developers for Ruby developers. It’s a truly volunteer-based event and like Ruby it is fostered by the community. Each year a different european city and its local community of Ruby enthusiasts are tasked to host the event and that’s what makes EuRuKo one of a kind.</span>
      <span>This summer EuRuKo comes to Athens for two days on the 28th and 29th of June.</span>
      <span>We can’t wait to see you in Athens this summer!</span>
    </p>
  </div>

  <div class="section" id="speakers">
    <h3 class="centered">Speakers
      <%= link_to 'to the top ^', '#', class: 'back_top' %>
    </h3>
    <p class="intro">
      <span>We consider the most important aspects of EuRuKo to be the delegates engagement and the conference programme, so we are working hard to announce an excellent programme, as well as a really exciting way of selecting speakers and topics.</span>
    </p>
    <ul class="centered" itemscope itemprop="performer" itemtype="http://schema.org/Person">
      <li>
        <h4><span itemprop="additionalName">Matz</span><span itemprop="name">Yukihiro Matsumoto</span></h4>
        <h5 itemprop="jobTitle">Ruby Chief Architect</h5>
        <p itemprop="description">Yukihiro “Matz” Matsumoto, Ruby creator &amp; chief designer of Ruby, will grace us with his presence this summer in Athens.</p>
      </li>
    </ul>
    <p class="more">other speakers will be announced soon...</span>
  </div>

  <div class="section" id="tickets">
    <h3 class="centered">Tickets
      <%= link_to 'to the top ^', '#', class: 'back_top' %>
    </h3>
    <div class="centered">
      <div class="ticket"></div>
      <p>coming soon...</p>
    </div>
  </div>

  <div class="section" id="venue">
    <div class="centered" itemscope itemprop="location" itemtype="http://schema.org/Place">
      <h3>Venue
        <%= link_to 'to the top ^', '#', class: 'back_top' %>
      </h3>

      <h4 itemprop="address">
        <span itemprop="name">Badminton Theater</span>, Olympic Properties Goudi<br/>
        <span>P.O. Box 157 73, Athens, Greece</span>
      </h4>
      <p>
      <span itemprop="description">Surrounded by a park near the east outskirts of Athens the EuRuKo 2013 venue is a stunning theatre built for the 2004 Athens Olympic Games. Access to ‘Badminton Theatre’ is easy and its indoors as well as outdoors ambience immaculate. The acoustics are pristine and the stage is a whopping 30m x 15.5m x 18.5m space backed by amazing audio-visual tech.</span><br/>
      <%= tag :img, src: "images/venue/venue_1.png", alt: "Badminton Theater - Inside", itemprop: "image" %>
      <%= tag :img, src: "images/venue/venue_2.png", alt: "Badminton Theater - Inside", itemprop: "image" %>
      <%#= link_to 'more information ›', '#' %>
      </p>
    </div>
  </div>

  <div class="section" id="sponsors">
    <h3 class="centered">Sponsors
      <%= link_to 'to the top ^', '#', class: 'back_top' %>
    </h3>
    <p class="centered">
      Boldly show your Ruby love - be a sponsor
      <%= link_to 'download sponsorships brochure', 'sponsors/euruko2013-sponsorship-packages.pdf', class: 'external-link brochure' %>
    </p>
  </div>

  <div class="section" id="contributors">
    <h3 class="centered">Contributors
      <%= link_to 'to the top ^', '#', class: 'back_top' %>
    </h3>
    <h4>Organisers</h4>
    <ul class="centered committee">
      <li>
        <%= tag :img, src: "images/committee/member.png", alt: "" %>
        <h5>Fotos Georgiadis</h5>
      </li>
      <li>
        <%= tag :img, src: "images/committee/member.png", alt: "" %>
        <h5>Vassilis Vatikiotis</h5>
      </li>
      <li>
        <%= tag :img, src: "images/committee/member.png", alt: "" %>
        <h5>Nikos Dimitrakopoulos</h5>
      </li>
      <li>
        <%= tag :img, src: "images/committee/member.png", alt: "" %>
        <h5>Apostolos Pantsiopoulos</h5>
      </li>
      <li>
        <%= tag :img, src: "images/committee/member.png", alt: "" %>
        <h5>Dr. John Pagonis</h5>
      </li>
      <li>
        <%= tag :img, src: "images/committee/member.png", alt: "" %>
        <h5>Giorgos Tsiftsis</h5>
      </li>
      <li>
        <%= tag :img, src: "images/committee/member.png", alt: "" %>
        <h5>Nikos Diamantopoulos</h5>
      </li>
      <li>
        <%= tag :img, src: "images/committee/member.png", alt: "" %>
        <h5>Vassilis Rizopoulos</h5>
      </li>
    </ul>
    <h4>Community</h4>
    <ul class="centered community">
      <li>Panos Xinos</li>
      <li>Eric Cohen</li>
      <li>Vasilis Dimos</li>
      <li>Giorgos Katsiampas</li>
      <li>Vasilis Tanos</li>
      <li>Alexia Konstantelia</li>
      <li>Christos Trochalakis</li>
    </ul>
    <%= link_to 'help organize the event... contact us! ›', '#contact', class: 'more' %>
  </div>

  <div class="section" id="contact">
    <h3 class="centered">Contact
      <%= link_to 'to the top ^', '#', class: 'back_top' %>
    </h3>
    <p class="centered">
      <span>Stay tuned and don’t miss out on news about EuRuKo 2013. Remember that traditionally EuRuKo tickets go in seconds so follow our progress closely and be prepared. We are sure you'll love this year’s EuRuKo.</span>
    </p>
    <p>
      <% link_to 'https://twitter.com/euruko', class: 'external-link stay-updated', target: '_blank' do %>
        stay updated by following <em>@Euruko</em> on Twitter
      <% end %>
      <%= mail_to 'info@euruko2013.org', 'info@euruko2013.org', class: 'contact' %>
    </p>
  </div>
</div>
