---
title: Euruko 2013 - Athens
description: Euruko 2013 - The European Ruby Conference in sunny Athens, Greece from 28 to 29 June 2013
---

<div itemscope itemtype="http://schema.org/Event">
  <div class="section" id="introduction">
    <div class="centered">
      <hgroup>
        <h1 itemprop="name">Euruko 2013</h1>
        <h2 itemprop="location">Athens, Greece</h2>
      </hgroup>
      <p>
        <time itemprop="startDate" content="2013-06-28">28 June 2013</time>
        <time itemprop="endDate" content="2013-06-29">29 June 2013</time>
        <span class="antikythera-mechanism">
          <span class="core"></span>
          <span class="gears-1"></span>
          <span class="gears-2"></span>
        </span>
      </p>
      <p itemprop="description">
        EuRuKo annual conference 2013 about the Ruby language will take place in Athens 28th - 29th of June.
      </p>
    </div>

    <div id="news" class="news">
      <h3>News</h3>
      <ul>
        <!-- News Placeholder list items -->
        <li>
          <span>10/01/2013</span>
          <%= link_to 'Tickets will be available soon', '#tickets' %>
        </li>
        <li>
          <span>09/12/2012</span>
          <%= link_to 'New speaker confirmed', '#speakers' %>
        </li>
      </ul>
    </div>

  </div>

  <div class="section" id="speakers">
    <h3 class="centered">Speakers
      <%= link_to_top %>
    </h3>
    <ul class="centered" itemscope itemprop="performer" itemtype="http://schema.org/Person">
      <li>
        <h4><span itemprop="additionalName">Matz</span><span itemprop="name">Yukihiro Matsumoto</span></h4>
        <h5 itemprop="jobTitle">Ruby Chief Architect</h5>
        <p itemprop="description">Matz needs no introduction. As the creator of the beautiful and elegant language we all love, we are honored to have Matz joining us for this year's EuRuKo.</p>
      </li>
    </ul>
    <%= link_to 'other speakers will be announced soon ›', '#', class: 'more' %>
  </div>

  <div class="section" id="tickets">
    <h3 class="centered">Tickets
      <%= link_to_top %>
    </h3>
    <div class="centered">
      <div class="ticket"></div>
      <p>coming soon...</p>
    </div>
  </div>

  <div class="section" id="venue">
    <div class="centered" itemscope itemprop="location" itemtype="http://schema.org/Place">
      <h3>Venue
        <%= link_to_top %>
      </h3>

      <h4 itemprop="address">
        <span itemprop="name">Badminton Theater</span>, Olympic Properties Goudi<br/>
        <span>P.O. Box 157 73, Athens, Greece</span>
      </h4>
      <p>
      <span itermprop="description">At full capacity the auditorium seats 2.500 people in an amphitheater arrangement without obstructed view for all the spectators. The performance area of the stage measures 30 meters width by 18 meters depth with a 15.50 meter height providing ample room for spectacular events.</span><br/>
      <%= tag :img, src: "images/venue/venue_1.png", alt: "Badminton Theater - Inside", itemprop: "image" %>
      <%= tag :img, src: "images/venue/venue_2.png", alt: "Badminton Theater - Inside", itemprop: "image" %>
      <%= link_to 'more information ›', '#' %>
      </p>
    </div>
  </div>

  <div class="section" id="sponsors">
    <h3 class="centered">Sponsors
      <%= link_to_top %>
    </h3>
    <p class="centered">
      Information about sponsorship packages will be available soon
      <%= link_to 'sponsorships - download brochure', '#', class: 'external-link disabled' %>
    </p>
  </div>

  <div class="section" id="contributors">
    <h3 class="centered">Contributors
      <%= link_to_top %>
    </h3>
    <h4>Organizing Committee</h4>
    <ul class="centered committee">
      <li>
        <%= tag :img, src: "images/committee/member.png", alt: "" %>
        <h5>Fotos Georgiadis</h5>
        </li>
      <li>
        <%= tag :img, src: "images/committee/member.png", alt: "" %>
        <h5>Vassilis Vatikiotis</h5>
      </li>
      <li>
        <%= tag :img, src: "images/committee/member.png", alt: "" %>
        <h5>Nikos Dimitrakopoulos</h5>
      </li>
      <li>
        <%= tag :img, src: "images/committee/member.png", alt: "" %>
        <h5>Apostolos Pantsiopoulos</h5>
      </li>
      <li>
        <%= tag :img, src: "images/committee/member.png", alt: "" %>
        <h5>Giannis Pagonis</h5>
      </li>
      <li>
        <%= tag :img, src: "images/committee/member.png", alt: "" %>
        <h5>Giorgis Tsiftsis</h5>
      </li>
      <li>
        <%= tag :img, src: "images/committee/member.png", alt: "" %>
        <h5>Nikos Diamantopoulos</h5>
      </li>
      <li>
        <%= tag :img, src: "images/committee/member.png", alt: "" %>
        <h5>Vasilis Rizopoulos</h5>
      </li>
    </ul>
    <h4>Community</h4>
    <ul class="centered community">
      <li>Panos Xinos</li>
      <li>Eric Cohen</li>
      <li>Vasilis Dimos</li>
      <li>Giorgos Katsiampas</li>
      <li>Vasilis Tanos</li>
      <li>Alexia Konstantelia</li>
      <li>Christos Trochalakis</li>
    </ul>
    <%= link_to 'help organize the event... contact us! ›', '#', class: 'more' %>
  </div>

  <div class="section" id="contact">
    <h3 class="centered">Contact
      <%= link_to_top %>
    </h3>
    <p>
      <% link_to 'https://twitter.com/euruko', class: 'external-link stay-updated', target: '_blank' do %>
        stay updated by following <em>@Euruko</em> on Twitter
      <% end %>
      <%= mail_to 'info@euruko2013.org', 'info@euruko2013.org', class: 'contact' %>
    </p>
  </div>
</div>
