---
title: Party Zone - EuRuKo 2013 - Athens
description: EuRuKo 2013 - Party Zone
---
<script src="http://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script type="text/javascript">
    function initialize() {
        var myLatlng = new google.maps.LatLng(37.979403, 23.728859);
        var mapOptions = {
            zoom: 15,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
 
        var places = {
            // https://foursquare.com/v/faust/4ebc2ed46da1686824e395d0
            'Faust': [37.977247,23.727978],
            // https://foursquare.com/v/%CE%BA%CE%B1%CF%80%CE%AC%CE%BA%CE%B9-cafe/4b6d5e87f964a5203b732ce3
            'Kapaki': [37.97694,23.728242],
            // https://foursquare.com/v/rooster/4bd709ef7b1876b0c4748d86
            'Rooster': [37.977526,23.727839],
            // https://foursquare.com/v/ippo-bar/4edbad06e5fa78b16fac2b27
            'IPPO Bar': [37.977357,23.730843],
            // https://foursquare.com/v/osterman/50902e9be4b021eeb44b55f0
            'Osterman': [37.977061,23.728257],
            // https://foursquare.com/v/school-pizza-bar/512f362fe4b07792ce9e3847
            'School Pizza Bar': [37.977052,23.728246],
            // https://foursquare.com/v/zaf/4fc09648e4b014a2d657cec2
            'ZAF': [37.97712,23.728268],
            // https://foursquare.com/v/throubi/4cd55322fb595481fc66dd50
            'Throubi': [37.977475,23.728343],
            // https://foursquare.com/v/%CE%BC%CE%B1%CE%B3%CE%BA%CE%B1%CE%B6%CE%AD/4b8666f1f964a520bf8831e3
            'Magaze': [37.977661,23.727817]
        };
 
 
        var map = new google.maps.Map(document.getElementById('normal-map'), mapOptions);
 
        var infoWindows = [];
        var markers = [];
        var infowindow = new google.maps.InfoWindow;
 
        for (var i in places) {
            infoWindows[i] = new google.maps.InfoWindow({
                content: i
            });
 
            markers[i] = new google.maps.Marker({
                position: new google.maps.LatLng(places[i][0], places[i][1]),
                map: map,
                title: i
            });
 
            bindInfoWindow(markers[i], i, infowindow, map);
        }
    }
 
    google.maps.event.addDomListener(window, 'load', initialize);
 
    function bindInfoWindow(marker, contentString, infowindow, map) {
        google.maps.event.addListener(marker, 'click', function() {
            infowindow.close();
            infowindow.setContent(contentString);
            infowindow.open(map, marker);
        });
    }
</script>

<div id="party-page">
  <div class="intro">
    <h2>euruko</h2>
    <h1>party zone</h1>
    <p><%= image_tag "party/github.png"%></p>
  </div>

  <div class="overview">
    <h2>The <span class="brand">EuRuKo</span> party is here!</h2>
    <p>
      Actually “here” this year means “more than 5 bars”! That’s right, we negotiated special prices for EuRuKo delegates for 3 days around the Agia Ιrini Square bar district, in the centre of Athens close to public transport and the ancient centre and agora. Most of the bars offer delicious meals as well.
    </p>
    <p>
      As if this was not enough, on Friday night thanks to our party sponsor, GitHub, we will all meet for a fun night to consume all of our party coupons worth of alcoholic beverages at Agia Ιrini Square!
    </p>
  </div>

  <div class="container">
    <div class="row">
      <div class="span3"><%= image_tag "party/agia-irini-photo2.png"%></div>
      <div class="span9">
        <h5>WHERE?</h5>
          <p>Agia Ιrini Square is located at the center of Athens. It got its name from the historical church near it. The area has a lot of small cafes, bars, restaurants, bistros and of course many fast-food spots, known for the traditional “souvlaki”. The places that you can actually get the 10% discount offer are the ones in the “Participating bars” section below. The bar-hopping party sponsored by <%= link_to 'GitHub', 'http://www.github.com' %> will also take place on those bars.</p>
      </div>
    </div>

    <div id="directions" class="row">
      <div class="span6">
        <h5>HOW TO GET THERE?</h5>
          <p>You can reach Agia Irini Square by Metro, either from Monistiraki station (5 minute walk) or from Syntagma station (10 minute walk through Ermou Street, which is Athen’s central market - and strictly pedestrian - street). Lot’s of taxis there to get you on or off Agia Irini, as well.</p>
      </div>
      <div id="normal-map" class="span6">
      </div>
    </div>

    <div class="row">
      <div class="span2"><%= image_tag "party/clock.png"%></div>
      <div class="span10">
          <h5>WHEN?</h5>
          <p>The special <b>10% discount offer</b> is valid in the bars/bistros mentioned above from <b>Friday 28th to Sunday 30th</b>. The party - where you get free beverage coupons - is on Friday 28th at the same bars. It starts at 21:30 and will be supported by the EuRuKo volunteers up until 1 hour after midnight. Of course you are free to stay and have a wonderful time even after that. Be sure to wake up the next day and get to Badminton theatre for day two of the event, though. A night out in Athens might be tricky! :P</p>
      </div>
    </div>

    <div class="row">
      <div id="instructions" class="span9">
          <h5>HOW?</h5>
          <p>All delegates will be given EuRuKo party coupons, which will be used in exchange of free drinks at the aforementioned bars. The coupons will be given during registration. EuRuKo volunteers and committee members will be in all of the bars as points of contact as well. We will be there to party with you and help you when needed.</p>
      </div>
      <div class="span3"><%= image_tag "party/agia-irini-photo1.png"%></div>
    </div>
  </div>

  <div class="part2">
      <div class="container">
          <div class="row">
              <div id="important-notice" class="span6 offset3">
                  <h5>Important notice:</h5>
                  <p>
                      Remember that you’ll need to wear your EuRuko lanyard badges to get discounts and to use the coupons. The bars reserve all rights on the free beverage brands. You may find a small stand on the bar mentioning what exactly you can order with your free coupon. Ask the EuRuKo volunteers for further information. The good news is that there will be plenty of people in these bars asking you about those lovely lanyards and about EuRuKo, so you may end up making new (even non-coding) friends.
                  </p>
              </div>
          </div>

          <div class="row">
              <div id="bars" class="span12">
                  <h5>Participating bars:</h5>
                  <ul class="unstyled inline">
                      <li><%= image_tag "party/magaze.png" %></li>
                      <li><%= image_tag "party/throubi.png" %></li>
                      <li><%= image_tag "party/zaf.png" %></li>
                      <li><%= image_tag "party/school-pizza.png" %></li>
                      <li><%= image_tag "party/ippo-bar.png" %></li>
                      <li><%= image_tag "party/osterman.png" %></li>
                      <li><%= image_tag "party/rooster.png" %></li>
                      <li><%= image_tag "party/kapaki.png" %></li>
                      <li><%= image_tag "party/faust.png" %></li>
                  </ul>
              </div>
          </div>

          <div class="row">
              <div class="span6 offset3"><%= image_tag "party/get-ready.png"%></div>
          </div>
      </div>
  </div>
</div>
