---
title: EuRuKo 2013 - Athens | Speakers
---
<section id="speakers">
  <ul class="centered" itemscope itemprop="performer" itemtype="http://schema.org/Person">
    <% data.speakers.speakers.each_with_index do |speaker, i| %>
      <li class="<%= i.even? ? "left" : "right" %>" id="<%= speaker.short_name %>">
        <h4><span class="name" itemprop="name"><%= speaker.name %></span></h4>
        <h5><a href="/speakers/<%= speaker.short_name %>"><%= speaker.name %></a><span class="subtitle" itemprop="jobTitle"><%= speaker.title %></span></h5>
        <p><%= speaker.bio %></p>
      </li>
    <% end %>
  </ul>
</section>
