---
title: Sponsors
description: EuRuKo 2013 - Sponsors
---

<div id="sponsors" itemscope itemtype="http://schema.org/Article">
  <div class="section" itemprop="articleBody">

    <h1>Sponsors</h1>

    <div id="gaia">
      <h2>Gaia</h2>

      <div class="sponsor">
        <img src="<%= lorem.image('400x300') %>" />
        <p><%= lorem.words 100 %></p>
      </div>
    </div>

    <div id="helios">
      <h2>Helios</h2>

      <div class="sponsor">
        <img src="<%= lorem.image('250x125') %>" />
        <p><%= lorem.words 30 %></p>
      </div>

      <div class="sponsor">
        <img src="<%= lorem.image('250x125') %>" />
        <p><%= lorem.words 30 %></p>
      </div>

      <div class="sponsor">
        <img src="<%= lorem.image('250x125') %>" />
        <p><%= lorem.words 30 %></p>
      </div>
    </div>

    <div id="selene">
      <h2>Selene</h2>

      <div class="sponsor">
        <img src="<%= lorem.image('100x50') %>" />
      </div>

      <div class="sponsor">
        <img src="<%= lorem.image('100x50') %>" />
      </div>
    </div>

    <div id="aphrodite">
      <h2>Aphrodite</h2>

      <div class="sponsor">
        <img src="<%= lorem.image('80x40') %>" />
      </div>

      <div class="sponsor">
        <img src="<%= lorem.image('80x40') %>" />
      </div>

      <div class="sponsor">
        <img src="<%= lorem.image('80x40') %>" />
      </div>

      <div class="sponsor">
        <img src="<%= lorem.image('40x80') %>" />
      </div>

      <div class="sponsor">
        <img src="<%= lorem.image('40x80') %>" />
      </div>

      <div class="sponsor">
        <img src="<%= lorem.image('40x80') %>" />
      </div>
    </div>
  </div>
</div>
